
  
#heading{
    margin-left: 33%;
    font-weight: 600;
    font-size: 1100;
}
.text{
    font-size: 100%;
    padding: 3%;
    text-align: center;
}
.align{
    
}
.jumbotron p {
    font-size: 14px !important;
    font-family: 'PT Sans', sans-serif;
}

.card-body p {
    width: 10rem;;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clientSite{
    display:none;
}
