
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/lab.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
      $(document).ready(function(){
      user="admin";
      if(user=="admin"){
        console.log("hello");
        // $("client").hide();
      }
      $.get('/data',(result,status)=>{
        console.log(result);
        for(i=0;i<result.length;i++){
          console.log(result[i]);
          $('#card_row').append(`
          <div class="col-md-3">
                            <div class="card" style="width: 18rem;padding:5% ">
                              <a href=/admin/editLabAdmin?id=`+result[i]._id+` style="position:absolute;top:10px;right:1px" id="edit">edit</a>
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title"><b>`+result[i].heading+`</b></h5>
                                  <p class="card-text" style:>`+result[i].description
                                    +`</p>
                                    <a href="`+result[i].link+`" class="w3-btn w3-round">click</a>
                                </div>
                              </div>
                        </div>
          `)
        }
      })
      $('.course').click(function(e){
        course=$(this).val();
        e.preventDefault();
        $.ajax({
          url:'/filter',
          method:'POST',
          data:{course:course},
          dataType:"JSON",
          success:function(result){
            $('#card_row').empty();
            for(i=0;i<result.length;i++){
          console.log(result[i]);
          $('#card_row').append(`
          <div class="col-md-4">
                            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                              <a href="`+result[i].link+`" style="position:absolute;top:8px;right:10px">edit</a>
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title"><b>`+result[i].heading+`<b></h5>
                                  <p class="card-text">`+result[i].description
                                    +`</p>
                                    <a href="`+result[i].link+`" class="w3-btn w3-round" >click</a>
                                </div>
                              </div>
                        </div>
          `)
        }
          }
        })
      })
    });
    $.ajax({
          url:'/edit',
          method:'POST',
          data:{id:$("edit")},
          dataType:"JSON",
          success:function(result){
          }
        })
    </script>   
  </head>


  <body>
   <%-include("./layouts/header")%>  
    <h1 id="heading">Disciplines and Domains</h1>
    <div class="container" style="width: 125%;" >
      <div class="row ">
          <div class="jumbotron col-md-3" >
            <div class="row text"><button class="course w3-button w3-none" style="padding: 0; border: 0cm; background: none;"  value="computer"><b>Computer Science & <br>Engineering</b></button></div>
            <div class="row text"><button class="course w3-button w3-none" style="padding: 0; border: 0cm; background: none;" value="electronics"><b>Electronics & <br>Communications</b></button></div>
            <div class="row text"><button class="course w3-button w3-none" style="padding: 0; border: 0cm; background: none;" value="electrical"><b>Electrical Engineering</b></button></div>
            <div class="row text"><button class="course w3-button w3-none" style="padding: 0; border: 0cm; background: none;"value="mechanical" ><b>Mechanical Engineering</b></button></div>
            <div class="row text"><button class="course w3-button w3-none" style="padding: 0; border: 0cm; background: none;"value="chemical" ><b>Chemical Engineering</b></button></div>
            <div class="row text"><button class="course w3-button w3-none" style="padding: 0; border: 0cm; background: none;"value="biotechnology" ><b>Biotechnology &<br> Biomedical Engineering</b></button></div>
            <div class="row text"><button class="course w3-button w3-none" style="padding: 0; border: 0cm; background: none;"value="physical" ><b>Physical Sciences</b></button></div>
            <div class="row text"><button class="course w3-button w3-none" style="padding: 0; border: 0cm; background: none;"value="chemicalScience" ><b>Chemical Sciences</b></button></div>

          </div>
          <div class="col-md-9 ">
            <div>
                <div class="jumbotron">
                    <div class="row" id="card_row">
                        
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div>
      <div class="jumbotron col-md-4">
      <form action="/publish_lab" method="POST">
            <input type="text" name="inst_name" id="inst_name">
            <div class="form-group"> 
              <label for="myselect">Engineering Field:</label><br>
                 <select id="mySelect" name = "branch_name">
           <option value="CSE">Computer Science and Engineering</option>
           <option value="ECE">Electronics and Communications Engineering</option>
           <option value="EE">Electrical Enginering</option>
           <option value="ME">Mechanical Engineering</option>
           <option value="CE">Civil Engineering</option>
           <option value="CHE">Chemical Engineering</option>
     
         </select>
                 </div>
                 
                 <button type="submit" value="SUBMIT REQUEST">Submit</button>
                     
      </form>
    </div>

    </div>
    <%-include("./layouts/feedback")%> 
    <%-include("./layouts/footer")%>
  </body>
 