
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Oswald:300,400,500,700'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/lab.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
      $(document).ready(function(){
      user="admin";
      if(user=="admin"){
        console.log("hello");
        // $("client").hide();
      }
      $.get('/data',(result,status)=>{
        console.log(result);
        for(i=0;i<result.length;i++){
          console.log(result[i]);
          $('#card_row').append(`
          <div class="col-md-4 col-xl-3">
                            <div class="card bg-c-yellow order-card" style="margin:3%" >
                                <div class="card-block">
                                  <a href=/admin/editLabAdmin?id=`+result[i]._id+` id="edit"><b>EDIT</b></a>
                                <img src="..." class="card-img-top" alt="...">
                                  <h5 class="m-b-20"><b>`+result[i].heading+`</b></h5><br>
                                  <h6 class="card-text"><b>`+result[i].description+`</b>
                                    </h6>
                                    <a href="`+result[i].link+`" class="w3-btn w3-round">click</a>
                                </div>
                              </div>
                        </div>
          `)
        }
      })
      $('.course').click(function(e){
        course=$(this).val();
        e.preventDefault();
        $.ajax({
          url:'/filter',
          method:'POST',
          data:{course:course},
          dataType:"JSON",
          success:function(result){
            $('#card_row').empty();
            for(i=0;i<result.length;i++){
          console.log(result[i]);
          $('#card_row').append(`
          <div class="col-md-4 col-xl-3">
                            <div class="card bg-c-yellow order-card" style="margin:3%">
                              
                                
                                <div class="card-block">
                                  <a href="`+result[i].link+`"><b>EDIT</b></a>
                                  <h5 class="m-b-20"><b>`+result[i].heading+`<b></h5>
                                   <h6 class="card-text"><b>`+result[i].description+`</b>
                                    </h6>
                                    <a href="`+result[i].link+`" class="w3-btn w3-round" >click</a>
                                </div>
                              </div>
                        </div>
          `)
        }
          }
        })
      })
    });
    $.ajax({
          url:'/edit',
          method:'POST',
          data:{id:$("edit")},
          dataType:"JSON",
          success:function(result){
          }
        })
    </script>   
  </head>


  <body>
   <%-include("./layouts/header")%>  
    <h1 id="heading">Disciplines and Domains</h1>
    <div class="container" style="width: 120%;" >
      <div class="row ">
          <div class="card bg-c-blue order-card col-md-3" style="font-size: 14px !important; font-family: 'PT Sans',sans-serif; 
           padding: 1.5%;" >
            <div class="row text"><button class="card bg-c-yellow order-card course w3-button w3-none" style="padding:4%; border: 0cm; border: 2px solid bisque;  width:100%;"  value="computer"><b>Computer Science & <br>Engineering</b></button></div>
            <div class="row text"><button class="card bg-c-yellow order-card course w3-button w3-none" style="padding:4%; border: 0cm; border: 2px solid bisque;  width:100%;" value="electronics"><b>Electronics & <br>Communications</b></button></div>
            <div class="row text"><button class="card bg-c-yellow order-card course w3-button w3-none" style="padding:4%; border: 0cm; border: 2px solid bisque; width:100%;" value="electrical"><b>Electrical Engineering</b></button></div>
            <div class="row text"><button class="card bg-c-yellow order-card course w3-button w3-none" style="padding:4%; border: 0cm; border: 2px solid bisque;  width:100%;"value="mechanical" ><b>Mechanical Engineering</b></button></div>
            <div class="row text"><button class="card bg-c-yellow order-card course w3-button w3-none" style="padding:4%; border: 0cm; border: 2px solid bisque;  width:100%;"value="chemical" ><b>Chemical Engineering</b></button></div>
            <div class="row text"><button class="card bg-c-yellow order-card course w3-button w3-none" style="padding:4%; border: 0cm; border: 2px solid bisque;  width:100%;"value="biotechnology" ><b>Biotechnology &<br> Biomedical Engineering</b></button></div>
            <div class="row text"><button class="card bg-c-yellow order-card course w3-button w3-none" style="padding:4%; border: 0cm; border: 2px solid bisque;  width:100%;"value="physical" ><b>Physical Sciences</b></button></div>
            <div class="row text"><button class="card bg-c-yellow order-card course w3-button w3-none" style="padding:4%; border: 0cm; border: 2px solid bisque;  width:100%;"value="chemicalScience" ><b>Chemical Sciences</b></button></div>

          </div>
          <div class="col-md-7 ">
            <div>
                <div class="card bg-c-blue order-card">
                    <div class="row" id="card_row">
                        
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div>
      <div class="card bg-c-yellow order-card col-md-4" style="font-size: 14px !important; font-family: 'PT Sans',sans-serif;color: brown; padding: 1.5%;">
        <h4>Publish your own Lab</h1>
      <form action="/publish_lab" method="POST">
        <label for="inst_name">Institute name:</label><br>
            <input type="text" name="inst_name" id="inst_name">
            <div class="form-group"> 
              <label for="myselect">Engineering Field:</label><br>
                 <select id="mySelect" name = "branch_name">
           <option value="CSE">Computer Science and Engineering</option>
           <option value="ECE">Electronics and Communications Engineering</option>
           <option value="EE">Electrical Enginering</option>
           <option value="ME">Mechanical Engineering</option>
           <option value="CE">Civil Engineering</option>
           <option value="CHE">Chemical Engineering</option>
     
         </select>
                 </div>
                 
                 <button type="submit" value="SUBMIT REQUEST">Submit</button>
                     
      </form>
    </div>

    </div>
    <%-include("./layouts/feedback")%> 
    <%-include("./layouts/footer")%>
  </body>
 