
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="css/admin.css" rel="stylesheet">
   <script>
    $(document).ready(function(){
        no=1;
        $("#publishLab").click(function(e){
         $.get("/publishLab",(result,status)=>{ 
             $(".QuesTable").empty(); 
             no=result.length;
             if(no!=0){$('.publish').css("display","block");}
             else{$('#addProblems').css("display","block");}
             for(let i=0;i<result.length;i++){
                 console.log(result[i]);
                 var id=result[i]._id;
                 console.log(id);
                 $('.QuesTable').append(`<tr><td>`+(i+1)+`</td>
                                         <td><a>`+result[i].publisher_mailID+`</a></td>
                                         <td>`+result[i].inst_name+`</td>
                                         <td>`+result[i].branch_name+`</td>
                                         <td><a href="" class="btnDelete" id=`+id+`>🗑</td>
                                         </tr>
                 `);
                 // $('#quest').append('<a href=/newPage?id='+id+'>'+`${i+1}`+result[i].title.slice(2)+'\xa0\xa0\xa0\xa0\xa0\xa0\xa0'+result[i].rating+"<br>");
             }
         })
        })
         $('.QuesTable').on('click','.btnDelete',function(e){
             $(this).closest('tr').remove();
             e.preventDefault();
             var id = $(this).attr('id');
             console.log(no);
             console.log(id);
             $.ajax({
                 url:'/delete',
                 method:"POST",
                 data:{page:id},
                 dataType:'JSON'  
             })
             no-=1;
             if(no==0){
                 $('.publish').hide();
                 $('#addProblems').show();
             }
         })
     })
 </script>    
</head>
    <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Virtual Lab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lab">Lab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/userProfile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/admin/LabAdmin">Lab Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="javascript:void(0)" id="publishLab">Publish Lab</a>
          </li>
        
      </ul>
    </div>
  </nav>

 <center>
  <div class="jumbotron publish ">
    <table  class="table table-dark "  id="tableId">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Publisher Mail Id</th>
            <th scope="col">Institute Name</th>
            <th scope="col">Branch Name</th>
        </tr>
        <tbody class="QuesTable">
        </tbody>
    </table>
    
   </div>
   <p id="addProblems" style="margin-top: 10%;"><strong>No lab to Publish</strong></p>
</center>
  </body>
  </html>
