
<!--<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/users/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/users/register" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>
</div>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatiable" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>login</title>
    <script>
        $(document).ready(function(){
            $('#mySelect').on('change', function() {
                var selectedOption = $(this).find('option:selected');
                if(selectedOption[0].value==1){
                    $("#secretPassword").css("display","block");
                }
});
        })
    </script>

</head>
<body>
    <div class="container" id="container" style="margin-top: 2%;" >
        <div class="form-container sign-up-container">
            <form action="/users/register" method="POST">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook"></i></a>
                    <a href="/auth/google" class="social"><i class="fab fa-google-plus"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                </div>
                <span>or use email for registration</span>
                <input type="text" class="form-control" name="name"  placeholder="Name">
                <input type="text" class="form-control" name="username" placeholder="Username">
                <input type="text" class="form-control" name="email" placeholder="Email">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
                <div class="form-group"> 
                <select id="mySelect" name = "isAdmin">
                 <option disabled selected>Choose...</option>
                 <option class="isAdmin"value="0">Client</option>
                 <option class="isAdmin"value="1">Admin</option>
               </select>
                       </div>
                <input type="password" class="form-control" id="secretPassword" name="secretPassword" placeholder="Secret Password">
                <button id="">Sign-up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/users/login" method="post">
                <h1>sign-in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook"></i></a>
                    <a href="/auth/google" class="social"><i class="fab fa-google-plus"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                </div>
                <span>or use your account</span>
                <input type="text" class="form-control" name="username" placeholder="Username">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <a href="#">forgot your password</a>
                <button id="">Sign in</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome back</h1>
                    <p>
                        to keep connected with us please login with your personal info
                    </p>
                    <button class="ghost" id="signIn">sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend</h1>
                    <p>Enter your personal details and start journey with us </p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
<script>
  const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});  
</script>
</body>
</html>

