<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/middle-cards.css">
    <title>Document</title>
</head>

<body>
<section id="middle">
    

    <div class="content-wrapper">

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="/images/ece.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 class="news-card__title">Electronics & Communications</h2>
                <!-- <div class="news-card__post-date">Jan 29, 2018</div> -->
                <div class="news-card__details-wrapper">
                    <p class="news-card__excerpt">Utilization of science and mathematics applied to practical problems
                        in the field of communications&hellip;</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="/images/cse.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 class="news-card__title">Computer Science & Affliated Fields</h2>
                <!-- <div class="news-card__post-date">Jan 29, 2018</div> -->
                <div class="news-card__details-wrapper">
                    <p class="news-card__excerpt">The study of automating algorithmic processes that scale&hellip;</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="/images/electrical.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 class="news-card__title">Electrical Engineering</h2>
                <!--<div class="news-card__post-date">Jan 29, 2018</div> -->
                <div class="news-card__details-wrapper">
                    <p class="news-card__excerpt">Deals with the study and application of electricity, electronics, and
                        electromagnetism.&hellip;</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="/images/mechanical.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 class="news-card__title">Mechanical Engineering</h2>
                <!-- <div class="news-card__post-date">Jan 29, 2018</div> -->
                <div class="news-card__details-wrapper">
                    <p class="news-card__excerpt">The study of design, analysis, manufacturing and maintenance of
                        mechanical systems</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="/images/chemical.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 class="news-card__title">Chemical Engineering</h2>
                <!--  <div class="news-card__post-date">Jan 29, 2018</div> -->
                <div class="news-card__details-wrapper">
                    <p class="news-card__excerpt">The study to produce, transform, transport, and properly use
                        chemicals, materials and energy&hellip;</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="/images/biomedical.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 class="news-card__title">Biotechnology and Biomedical Engineering</h2>
                <!-- <div class="news-card__post-date">Jan 29, 2018</div> -->
                <div class="news-card__details-wrapper">
                    <p class="news-card__excerpt">The study of technological application that uses biological systems to
                        process for specific use.</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="/images/civil.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 class="news-card__title">Civil Engineering</h2>
                <!-- <div class="news-card__post-date">Jan 29, 2018</div> -->
                <div class="news-card__details-wrapper">
                    <p class="news-card__excerpt">Ride through the Sahara Desert on a guided camel tour.</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="https://images.pexels.com/photos/210243/pexels-photo-210243.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
                <h2 class="news-card__title">Others</h2>
                <!-- <div class="news-card__post-date">Jan 29, 2018</div> -->
                <div class="news-card__details-wrapper">
                    <p class="news-card__excerpt">Experience Football on Top of the Himilayan Mountains.</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>


    </div>
    </section>
</body>

</html>