

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/team.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>Document</title>
</head>

<section id="team">
    

    <center>
        <h2>Our Team</h2>
    </center>

    <div class="wrapper">
        <!--membre 1-->
        <div style="border-radius: 20px;">
            <div class="membre">
                <img src="/images/avatar.png" alt="">

                <div class="info">
                    <h5 class="name">team member</h5>
                    <p class="job">post</p>
                </div>

                <div class="overly top">
                    <div class="middle">
                        <h5 class="name">team member</h5>
                        <p class="job"> post</p>
                        <p class="text">details
                        </p>

                        <div class="social-icones">
                            <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fab fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--membre 2-->
        <div class="membre">
            <div class="img">
                <img src="/images/avatar.png" alt="" class="img">
            </div>
            <div class="info">
                <h5 class="name">team member</h5>
                <p class="job"> post</p>
            </div>
            <div class="overly left">
                <div class="middle">
                    <h5 class="name">team member</h5>
                    <p class="job">post</p>
                    <p class="text">details
                    </p>

                    <div class="social-icones">
                        <a href="#" class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <!--membre 3-->
        <div class="membre">
            <img src="/images/avatar.png" alt="">

            <div class="info to-top">
                <h5 class="name">team member</h5>
                <p class="job"> post</p>
            </div>
            <div class="overly bottom">
                <div class="middle">
                    <h5 class="name">team member</h5>
                    <p class="job"> post</p>
                    <p class="text">details
                    </p>

                    <div class="social-icones">
                        <a href="#" class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
       


    </div>


</section>

</html>